<ul class="list-group mx-4 my-4  justify-content-center align-items-center">
  <li class="list-group-item active bg-dark border border-dark">Mo:Mo</li>
  <li class="list-group-item">Veg Mo:Mo - 100/-</li>
  <li class="list-group-item">Chicken Mo:Mo - 120/-</li>
  <li class="list-group-item">Chicken Fry Mo:Mo - 130/-</li>
  <li class="list-group-item">Chicken Steam Chilly Mo:Mo - 150/-</li>
  <li class="list-group-item">Chicken Fry Chilly Mo:Mo - 160/-</li>
  <li class="list-group-item">Jhol Mo:Mo - 160/-</li>
</ul>
<ul class="list-group mx-4 my-4">
  <li class="list-group-item active bg-danger border border-danger">Chicken Snacks</li>
  <li class="list-group-item">Chicken sausage (per stick) - 40/-</li>
  <li class="list-group-item">Chicken Drumsticks (5 pieces) - 250/-</li>
  <li class="list-group-item">Chicken Leg Roast - 125/-</li>
  <li class="list-group-item">Chicken Sadheko - 200/-</li>
  <li class="list-group-item">Chicken Chilly- 300/-</li>
  <li class="list-group-item">Chicken Sekuwa  - 250/-</li>
</ul>
<ul class="list-group mx-4 my-4">
  <li class="list-group-item active">Veg Snacks</li>
  <li class="list-group-item">Fried Potato Sticks (spicy) - 100/-</li>
  <li class="list-group-item">Vatta Sadheko - 140/-</li>
  <li class="list-group-item">Peanut Sadheko - 140/-</li>
  <li class="list-group-item">French Fry - 140/-</li>
  <li class="list-group-item">Allo Thicheko - 40/-</li>
  <li class="list-group-item">Chips Chilly - 180/-</li>
</ul>
<ul class="list-group mx-4 my-4">
  <li class="list-group-item active bg-success border border-success">Chowmein</li>
  <li class="list-group-item">Veg. Chowmein - 100/-</li>
  <li class="list-group-item">Egg Chowmein - 140/-</li>
  <li class="list-group-item">Chicken Chowmein - 140/-</li>
  <li class="list-group-item">Mix Chowmein - 140/-<br>(egg,mushroom,sausage,chicken)</li>
  <li class="list-group-item">Combo - 180/-<br>(Mo:Mo + Chowmein)</li>
</ul>
<ul class="list-group mx-4 my-4">
  <li class="list-group-item active bg-warning border border-warning">Burger</li>
  <li class="list-group-item">Veg. Burger - 100/-</li>
  <li class="list-group-item">Chicken Burger - 120/-</li>
  <li class="list-group-item">Veg.Burger Set - 160/-<br>(with cold drink and chips)</li>
  <li class="list-group-item">Chicken.Burger Set - 230/-<br>(with cold drink and chips)</li>
  <li class="list-group-item">Chicken Cheese Burger - 150/-</li>
  <li class="list-group-item">Egg Burger - 110/-</li>
</ul>
<ul class="list-group mx-4 my-4">
  <li class="list-group-item active bg-info border border-info">Other</li>
  <li class="list-group-item">Veg. Khaja Set - 250/-</li>
  <li class="list-group-item">Chicken Khaja Set - 400/-</li>
  <li class="list-group-item">Chicken Biriyani - 350/-</li>
  <li class="list-group-item">Veg. Sandwich - 100/-</li>
  <li class="list-group-item">Chicken Sandwich - 150/-</li>
  <li class="list-group-item">Cheese Tomato Sandwich - 120/-</li>
  <li class="list-group-item">Hot Dog - 150/-</li>
</ul>
