<div class="jumbotron">
  <h1 class="display-4 text-center">Our Services !!</h1>
  <p class="lead text-center">Our restaurant tries to provide the best services to its clients. They include services from the restaurant to your doorsteps</p>
  <hr class="my-4">
  <h4 class="text-center">We provide you more than we get</h4><br>
  <center>
    <a class="btn btn-success btn-sm" href="#" role="button">Order Now</a>
    <a class="btn btn-warning btn-sm" href="#" role="button">Book Table</a>
    <hr>
    <h5 class="text-center">Follow Us</h5><br>
    <a class="btn btn-outline-primary btn-sm" href="https://www.facebook.com/Sankhalifa.33" target="_blank" role="button">
      <i class="fab fa-facebook"></i>
      Facebook »</a>
    <a class="btn btn-outline-danger btn-sm" href="https://www.instagram.com/_sankalpa_neupane/?hl=en/" target="_blank" role="button">
      <i class="fab fa-instagram"></i>
      Instagram »</a>
  </center>
</div>

<div class="container my-1">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center text-success" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Environment
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          We have the best environment for eating. The order is super fast. You dont have to wait for too long. There is a separate room for smokers. Therefore, there is no problem for those of you who dont like the smoke of a ciggarate. We have separate place
          for celebrations and parties. Hence there is no disturbance. Proper sanitation is maintained. Air conditioning is also there.Free wifi is available. Waiters are very friendly.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center text-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Delivery System
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Currently,we have like 20 delivery men actively working for the delivery services which makes the delivery process super fast. Just order the food and our men will be at your doorsteps at no time. We take Rs 100 extra for the service but its is
          nothing as compared to the service we provide. You can reserve a table for birthday celebrations, parties, anniversaries and other events for certain amaount of people for certain time.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center text-info collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Immediate Problem Fixing
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          If our customers find any problems regarding our services, they can report us through the contacts or report us directly in the restuarent or telephone us. If we find any problems and regarding any of the things in our restaurant we try to remove
          that immediately and make sure it doesn't occur in the future.
        </div>
      </div>
    </div>

  </div>
</div>
