<footer class="footer">
  <div class="container text-center">
    <small style="color:black" class="copyright">Copyright &copy 2020
      <%=fa_icon "user"%>
      Sankalpa Neupane</small>
  </div>

  <!--End container-->
</footer>
